---
import Layout from '../components/layout.astro';
---

<Layout
    title="Testing the branch split"
    description="Lorem ipsum etc etc"
>
    <main>
        <h2>Welcome to the main body</h2>
        <p>Paragraph here. Lorem ipsum</p>
    </main>
</Layout>